body {
    font-family: Arial, Helvetica, sans-serif;
}

.my-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #f6f6f6;
}

.my-card-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

.nav-border {
    border-bottom: 2px solid #cccccc;
}

li a {
    font-size: 20px;
    color: #777;
}

/* Showcase */
#showcase {
    background: url("../images/concrete-texture.png");
}