body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.my-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #f6f6f6;
}

.my-card-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

.nav-border {
    border-bottom: 2px solid #cccccc;
}

li a {
    font-size: 20px;
    color: #777;
}

/* Showcase */
#showcase {
    background: url("../images/concrete-texture.png");
    min-height: 90vh;
}

.showcase-text {
    line-height: 2;
    font-size: 18px;
}

/* Portfolio */
.pf-label {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-top: -28%;
    position: relative;
    z-index: 1;
}

/* Footer */
footer {
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 10vh;
}